<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New Hyvor Blogs Theme<title>
        {{ _head | template }}

    </head>
    <body>

        <div class='test'>hello world</div>

        <div class="header-wrapper">
            {% include('_header.twig') %}
        </div>
        {# <ul id="navigation">
            {% for item in navigation %}
                <li>
                    <a href="{{ item.href }}">{{ item.caption }}</a>
                </li>
            {% endfor %}
        </ul>

        <h1>My Webpage</h1>
        {{ a_variable }} #}

        {% include('_footer.twig') %}

        {{ _foot | raw }}

    </body>
</html>